.paddtop{
    padding-top: 10px;
}

.search-input {
    float: left;
    border: 2px solid #ffc900;
    width: 400px;
    height: 35px;
    padding-left: 5px;

}

.search-btn {
    float: left;
    border: 2px solid #ffc900;
    width: 90px;
    height: 35px;
    background-color:#ffc900 ;
    text-align: center;
    line-height: 35px;
}